body {
  margin: 0;
  padding: 0;
}

ul, li {
  list-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
}

.entry {
  margin: 0 auto;
  width: 400px;

  img {
    display: block;
    max-width: 600px;
    width: 100%;
  }
}