<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
   <% include ../partials/nav.ejs %>

   <div class="content">
      <section class="looks clearfix">
         details
      </section>

      <% include ../partials/aside.ejs %>
   </div>
</body>
</html>