<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
	<ul>
	    <% results.forEach(function(r) { %>
	        <li class="entry">
	        	<h2><%= r.id %> - <%= r.name %></h2>
	        	<img src="<%= r.url %>">
	        </li>
	    <% }); %>
	</ul>
</body>
</html>