<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
	<div class="entry">
      <img src="https://s3-us-west-1.amazonaws.com/lyftbook/lyftbook-1.jpg" width="600">
    </div>
    <div class="entry">
      <img src="https://s3-us-west-1.amazonaws.com/lyftbook/lyftbook-2-3.jpg" width="600">
    </div>
    <div class="entry">
      <img src="https://s3-us-west-1.amazonaws.com/lyftbook/lyftbook-4.jpg" width="600">
    </div>
    <div class="entry">
      <img src="https://s3-us-west-1.amazonaws.com/lyftbook/lyftbook-5.jpg" width="600">
    </div>
    <div class="entry">
      <img src="https://s3-us-west-1.amazonaws.com/lyftbook/lyftbook-6.jpg" width="600">
    </div>
    <div class="entry">
      <img src="https://s3-us-west-1.amazonaws.com/lyftbook/lyftbook-7.jpg" width="600">
    </div>
    <div class="entry">
      <img src="https://s3-us-west-1.amazonaws.com/lyftbook/lyftbook-8.jpg" width="600">
    </div>
        <div class="entry">
      <img src="https://s3-us-west-1.amazonaws.com/lyftbook/lyftbook-9.jpg" width="600">
    </div>
    <div class="entry">
      <img src="https://s3-us-west-1.amazonaws.com/lyftbook/lyftbook-10.jpg" width="600">
    </div>
    <div class="entry">
      <img src="https://s3-us-west-1.amazonaws.com/lyftbook/lyftbook-11.jpg" width="600">
    </div>
    <div class="entry">
      <img src="https://s3-us-west-1.amazonaws.com/lyftbook/lyftbook-12.jpg" width="600">
    </div>
</body>
</html>